<div class="decklist-grid">
    
    <div 
    id="main_deck"  
    cdkDropList 
    [cdkDropListData]="decklist.mainDeck.cards" 
    [cdkDropListConnectedTo]="trackIds"
    (cdkDropListDropped)="onTalkDrop($event)">
    Main Deck
        <div class="main-deck deck-grid">
            <ng-container *ngFor="let card of decklist.mainDeck.cards">
                <div >
                    <card [card]="card">
                    </card>  
                </div>
            </ng-container>
        </div>
    </div>

    <div
    id="side_deck"
    cdkDropList 
    [cdkDropListData]="decklist.sideDeck.cards" 
    [cdkDropListConnectedTo]="trackIds"
    (cdkDropListDropped)="onTalkDrop($event)">
    Side Deck
        <div class="side-deck">
            <ng-container *ngFor="let card of decklist.sideDeck.cards" >
                <card [card]="card">
                </card>
            </ng-container>
        </div>

    </div>
    
    <div 
    id=extra_deck
    cdkDropList
    [cdkDropListData]="decklist.extraDeck.cards"
    [cdkDropListConnectedTo]="trackIds" 
    (cdkDropListDropped)="onTalkDrop($event)">
        
    <span>Extra Deck</span>
        <div class="extra-deck">
            <ng-container *ngFor="let card of decklist.extraDeck.cards"  >
                <card [card]="card">
                </card>
            </ng-container>
        </div>
 
    </div>

    <div class="details">

    </div>
</div>