/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card_container{
    display : grid;
    grid-template-columns : 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows : 1fr 1fr;
    justify-items : center;
}
.card_grid{
    grid-area : card;
    // grid-column: 1/span 5;
    // grid-row : 1/span 2;
}
.pagination_grid{
    grid-area : pagination;
}

.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    pointer-events :none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.no-padding >  mat-dialog-container{
    padding : 0px;
}