<div class="row">
    <div class="col 3 p-grid" 
    id="cardsDiv" cdkDropList [cdkDropListData]="cards"
    [cdkDropListConnectedTo]="trackIds">
    <!-- (cdkDropListDropped)="onTalkDrop($event, 'from') 
    | paginate: { itemsPerPage: 15, currentPage: p }-->
            <div *ngFor="let card of currentPageCards " class="p-col" cdkDrag>
                    <card [card]="card" >
                    </card>    
                </div>
    </div>
</div>

    <mat-paginator [length]="cards.length"
    [pageSize]="15"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="p = read($event)"
    [pageIndex] ="p">
    <mat-paginator>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>