<div class="container">

            <div class="card_container"
            id="cardsDiv" 
            cdkDropList 
            [cdkDropListData]="cards"
            [cdkDropListConnectedTo]="trackIds">
            <!-- [cdkDropListEnterPredicate]="" -->
            <!-- (cdkDropListDropped)="onTalkDrop($event, 'from') 
            | paginate: { itemsPerPage: 15, currentPage: p }-->
                    <div *ngFor="let card of cards "  cdkDrag [cdkDragDisabled]="validateCard(card)">
                            <card [card]="card" class="card_grid" [matBadge]="getBanlistInfo(card)" matBadgePosition="above" matBadgeColor="warn">
                            </card>    
                    </div>
            </div>

        <div >
            <mat-paginator [length]="resultSize"
            [pageSize]="15"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="search($event)"
            [pageIndex] ="p">
        </mat-paginator>
        </div>

</div>


    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->